@charset "utf-8";

/* Змінні кольорів шаблону */
:root {
    --color-primary:      #434343;
    --color-accent:       #ffad29;
    --color-link:         #0080c0;
    --color-logo-name:    #434343;
    --color-slogan:       #0088cc;
    --color-slogan-hover: #0022cc;
    --color-logo-it:      #ff0000;
}

/* Загальні стилі html */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #efefef;
    color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: 1.2;
}

p {
    margin: 0;
}

/* Робимо нестандартний колір виділення тексту */
::selection {
    color: white; /* Колір тексту */
    background: var(--color-primary); /* Колір фону */
}

a {
    text-decoration: none;
    color: #0a0a0a;
}

a:hover {
    text-decoration: underline;
    color: #0a0a0a;
}

abbr:hover {
    cursor: help;
}

ol {
    padding-left: 1rem;
}
/***********************************************************************/

/* Стилі шапки з логотипом */
#main-fon {
    background-image: url("../images/fon.jpg");
}

#christmas-fon {
    background-image: url("../images/christmas-fon.jpg");
}

/* Стилі шапки сайту */
.logo {
    display: inline-block;
    padding-left: 4em; /* Відступ зліва для більш гарного відображення на desktop */
    padding-bottom: 0.5em;
}

.logo img {
    float: left; /* Для обтікання тексту праворуч від логотипу */
}

/* Імпорт свого шрифту в шаблон */
@font-face {
    font-family: MrRobot;
    src: url("../fonts/mrrobot.woff2") format("woff2");
    font-display: swap;
}

/* Стилі назви блогу */
.logo-name {
    display: inline-block;
    color: var(--color-logo-name);
    font-family: MrRobot;
    font-size: 60px;
    margin-top: 1.5em;
    margin-left: 1em;
}

/* Стилі слогану в шапці сайту */
.logo-slogan {
    display: inline-block;
    color: var(--color-slogan);
    font-family: "Press Start 2P", cursive;
    font-size: 30px;
    margin-left: 3.2em;
}

a .logo-slogan:hover {
    text-decoration: none;
    color: var(--color-slogan-hover);
}

.logo-it {
    color: var(--color-logo-it);
}
/**************************************************************************/


/* Стилі горизонтального меню */
.row .top-menu {
    margin: 0;
    background-color: var(--color-primary);
    border-bottom: 1px solid var(--color-primary);
    border-radius: 0;
    padding-right: 0;
    padding-left: 0;
}

/* Колір посилань в меню */
.top-menu ul li a {
    color: white;
}
/****************************************************************************/

/* Стилі контентної частини */

/* Задаємо колір фону та бічні лінії у контентній частині */
.container .content {
    border-left: 1px solid Gray;
    border-right: 1px solid Gray;
    background-color: #f9f9f9;
}

/* Стилі для модулів контактів та оголошень */

/* Пошук */

/* Декорація форми введення у блоці пошуку */
.form-control {
    border-color: #ccc;
}

.form-control:focus {
    border-color: var(--color-primary);
}

.btn-primary {
    background-color: var(--color-primary);
    border-color: transparent;
}

.btn-primary:hover {
    background-color: var(--color-accent);
    border-color: transparent;
}

/* Прибираємо блакитну рамку після натискання, це універсальне правило майже для будь-якого елемента */
.btn-primary:focus, .form-control:focus {
    box-shadow: none;
}

.com-finder .form-inline {
    margin-top: 1rem;
}

.result__item + .result__item {
    border-top: 1px dotted #ccc;
}

.search-pages-counter {
    margin-bottom: 1rem;
}
/********************************************************************************************/

/* Стилі відступу лівих блоків від верхнього меню */
.moduletable {
    margin-top: 10px;
}

/* Виведення заголовка модулів лівої частини */
.moduletable h3 {
    text-align: center;
    background-color: var(--color-primary);
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    line-height: 40px;
}

/* Заокруглення кутів у заголовків та текстової частини модулів лівої сторони, а також цитат у контенті */
.moduletable h3,
.moduletable .custom,
.blog-item blockquote,
.content-full blockquote {
    border-radius: 4px;
}

/* Стилі текстової частини модулів лівої частини */
.moduletable .custom {
    margin-top: 10px;
    padding: 7px;
    border: 1px dotted #ccc;
    font-size: 1em;
    line-height: 1.5;
}

.moduletable .custom .bi-telegram {
    color: #29a0dc;
}

.moduletable .custom .bi-instagram {
    color: #C13584;
}
/****************************************************************************************/

/* Стилі сторінки пошуку */
#search-result-empty {
    margin-bottom: 1.5em;
}

#search-result-empty h2 {
    font-size: 16px;
    font-weight: bold;
    font-family: Verdana, Geneva, sans-serif;
    line-height: 1.2;
}

/* Стилі виводу матеріалів */
.blog-item, .content-full {
    border-radius: 4px;
    border: 1px #ccc solid;
    margin-top: 1%;             /* Відступ контенту від верхнього меню */
    padding: 5px 10px 2px;
    line-height: 1.5;
}

.content-full {
    margin-bottom: 10px;
}

/* Розмір шрифту для заголовка сторінки */
.page-header {
    margin-left: 10px;
    border: none;
}

.page-header h1 {
    font-size: 1.2em;
}

.item-title a,
.content-full .page-header h1,
.page-header h2 {
    font-size: 16px;
    font-weight: bold;
    font-family: Verdana, Geneva, sans-serif;
    line-height: 1.2;
}

.item-title {
    margin: 1px 10px 8px;
    padding: 2px 0 2px;
    vertical-align: top;
}

.blog .alert-info {
    display: flex;
    margin-top: 1em;
    font-weight: bold;
    background-color: inherit;
    border-color: #ccc;
}

/* Стилі виведення матеріалів */
.blog-item p,
.content-full p,
.blog-item blockquote,
.content-full blockquote {
    word-wrap: break-word;  /* Фікс для примусового перенесення рядка якщо текст не міститься */
}

.blog-item ol,
.content-full ol {
    margin-top: 5px;
    counter-reset: item;
    list-style: none;
}

/* Багаторівневі нумеровані списки */
.blog-item ol li:before,
.content-full ol li:before {
    counter-increment: item;
    content: counters(item, ".") " ";
}

/* Скасування стилів ресета нумерованих списків */
.blog-item .listNoneReset,
.content-full .listNoneReset {
    counter-reset: none;
}

/* Стилі для списків із літерною нумерацією */
.blog-item .listType,
.content-full .listType {
    list-style-type: lower-alpha;
}

.blog-item ol.listType li:before,
.content-full ol.listType li:before {
    content: normal;
}

.blog-item ul,
.content-full ul {
    margin-top: 1rem;
    margin-left: 1rem;
}

.blog-item blockquote,
.content-full blockquote {
    margin: 5px;
    padding: 7px;
    background-color: #f6f6f6;
    border: 1px #ccc solid;
    font-style: italic;
}

.blog-item p,
.content-full p,
.blog-item h2,
.content-full h2,
.blog-item h3,
.content-full h3,
.blog-item h4,
.content-full h4,
.blog-item h5,
.content-full h5,
pre {
    margin-top: 10px;
}

.blog-item .item-title {
    margin-top: 0;
}

/* Міжрядковий інтервал для параграфів та заголовків */
.blog-item p,
.content-full p,
.blog-item h2,
.content-full h2,
.blog-item h3,
.content-full h3,
.blog-item h4,
.content-full h4,
.blog-item h5,
.content-full h5 {
    line-height: 1.5;
}

.blog-item h2,
.content-full h2,
.blog-item h3,
.content-full h3,
.blog-item h4,
.content-full h4,
.blog-item h5,
.content-full h5 {
    font-size: 16px;
}

.blog-item h2,
.content-full h2,
.blog-item h3,
.content-full h3,
.blog-item h4,
.content-full h4 {
    font-weight: bold;
}

.blog-item h5,
.content-full h5 {
    font-style: italic;
}

.blog-item blockquote p,
.content-full blockquote p {
    line-height: 1.5;
}

.blog-item table,
.content-full table {
    margin: 10px auto;
    border-collapse: collapse;
}

.blog-item table,
.blog-item table th,
.blog-item table td,
.content-full table,
.content-full table th,
.content-full table td {
    border: 1px solid Gray;
}

.blog-item table td,
.content-full table td {
    padding: 0 4px;
}

.blog-item table pre,
.content-full table pre {
    background: none;
    border: none;
}

.blog-item p img,
.content-full p img,
.blog-item figure img,
.content-full figure img {
    margin: 5px 10px;
    max-width: 100%; /* Задання responsibility зображень залежно від розміру екрану */
    height: auto;
}

.blog-item p a,
.blog-item blockquote a,
.blog-item ol a,
.blog-item ul a,
.content-full p a,
.content-full blockquote a,
.content-full ol a,
.content-full ul a {
    color: #2a68d2;
    text-decoration: none;
    background-image: none;
    padding-right: 0;
    word-wrap: break-word;
}

.blog-item p a:hover,
.blog-item blockquote a:hover,
.blog-item ol a:hover,
.content-full ul a:hover,
.content-full p a:hover,
.content-full blockquote a:hover,
.content-full ol a:hover,
.content-full ul a:hover {
    color: #2a68d2;
    text-decoration: underline;
}

.blog-item p a[href^="http://"],
.blog-item blockquote a[href^="http://"],
.blog-item ol a[href^="http://"],
.blog-item ul a[href^="http://"],
.blog-item p a[href^="https://"],
.blog-item blockquote a[href^="https://"],
.blog-item ol a[href^="https://"],
.blog-item ul a[href^="https://"],
.content-full p a[href^="http://"],
.content-full blockquote a[href^="http://"],
.content-full ol a[href^="http://"],
.content-full ul a[href^="http://"],
.content-full p a[href^="https://"],
.content-full blockquote a[href^="https://"],
.content-full ol a[href^="https://"],
.content-full ul a[href^="https://"] {
    background: url("../images/external.png") no-repeat right top;
    padding-right: 12px;
}

/* Стилі PrismJS для виведення кольорового коду у контенті */
code[class*=language-],
pre[class*=language-] {
    color:#000;
    background:0 0;
    text-shadow:0 1px #fff;
    font-family:Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;
    font-size:1em;
    text-align:left;
    white-space:pre-wrap; /* Перенесення рядка якщо код не вміщується на екрані, зазвичай на мобільній версії */
    word-spacing:normal;
    word-break:normal;
    word-wrap:normal;
    line-height:1.5;
    -moz-tab-size:4;
    -o-tab-size:4;
    tab-size:4;
    -webkit-hyphens:none;
    -moz-hyphens:none;
    -ms-hyphens:none;
    hyphens:none;
}

code[class*=language-] ::-moz-selection,
code[class*=language-]::-moz-selection,
pre[class*=language-] ::-moz-selection,
pre[class*=language-]::-moz-selection {
    text-shadow:none;
    background:#b3d4fc;
}

code[class*=language-] ::selection,
code[class*=language-]::selection,
pre[class*=language-] ::selection,
pre[class*=language-]::selection {
    text-shadow:none;
    background:#b3d4fc;
}

@media print {
    code[class*=language-],
    pre[class*=language-] {
        text-shadow:none;
    }
}

pre[class*=language-] {
    padding:1em;
    margin:.5em 0;
    overflow:auto;
}

:not(pre)>code[class*=language-],
pre[class*=language-] {
    background:#f5f2f0;
}

:not(pre)>code[class*=language-] {
    padding:.1em;
    border-radius:.3em;
    white-space:normal;
}

.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
    color:#708090;
}

.token.punctuation { color:#999; }

.token.namespace { opacity:.7; }

.token.boolean,
.token.constant,
.token.deleted,
.token.number,
.token.property,
.token.symbol,
.token.tag {
    color:#905;
}

.token.attr-name,
.token.builtin,
.token.char,
.token.inserted,
.token.selector,
.token.string {
    color:#690;
}

.language-css .token.string,
.style .token.string,
.token.entity,
.token.operator,
.token.url {
    color:#9a6e3a;
    background:hsla(0,0%,100%,.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color:#07a;
}

.token.class-name,
.token.function {
    color:#dd4a68;
}

.token.important,
.token.regex,
.token.variable {
    color:#e90;
}

.token.bold,
.token.important {
    font-weight:700;
}

.token.italic { font-style:italic; }

.token.entity { cursor:help; }

.token a { color:inherit; }

.token.punctuation.brace-hover,
.token.punctuation.brace-selected {
    outline:solid 1px;
}

.rainbow-braces .token.punctuation.brace-level-1,
.rainbow-braces .token.punctuation.brace-level-5,
.rainbow-braces .token.punctuation.brace-level-9 {
    color:#e50;opacity:1;
}

.rainbow-braces .token.punctuation.brace-level-10,
.rainbow-braces .token.punctuation.brace-level-2,
.rainbow-braces .token.punctuation.brace-level-6 {
    color:#0b3;
    opacity:1;
}

.rainbow-braces .token.punctuation.brace-level-11,
.rainbow-braces .token.punctuation.brace-level-3,
.rainbow-braces .token.punctuation.brace-level-7 {
    color:#26f;
    opacity:1;
}

.rainbow-braces .token.punctuation.brace-level-12,
.rainbow-braces .token.punctuation.brace-level-4,
.rainbow-braces .token.punctuation.brace-level-8 {
    color:#e0e;
    opacity:1;
}

/********************************************************************/

/* Стилі для lightbox */

/* Preload images */
body:after {
    content: url("../images/close.png") url("../images/loading.gif") url("../images/prev.png") url("../images/next.png");
    display: none;
}

body.lb-disable-scrolling {
    overflow: hidden;
}

.lightboxOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: black;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    display: none;
}

.lightbox {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 10000;
    text-align: center;
    line-height: 0;
    font-weight: normal;
    outline: none;
}

.lightbox .lb-image {
    display: block;
    height: auto;
    max-width: inherit;
    max-height: none;
    border-radius: 3px;
    border: 4px solid white; /* Image border */
}

.lightbox a img {
    border: none;
}

.lb-outerContainer {
    position: relative;
    *zoom: 1;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 4px;
    background-color: white; /* Background color behind image. This is visible during transitions. */
}

.lb-outerContainer:after {
    content: "";
    display: table;
    clear: both;
}

.lb-loader {
    position: absolute;
    top: 43%;
    left: 0;
    height: 25%;
    width: 100%;
    text-align: center;
    line-height: 0;
}

.lb-cancel {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    background: url(../images/loading.gif) no-repeat;
}

.lb-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.lb-container > .nav {
    left: 0;
}

.lb-nav a {
    outline: none;
    background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
    height: 100%;
    cursor: pointer;
    display: block;
}

.lb-nav a.lb-prev {
    width: 34%;
    left: 0;
    float: left;
    background: url(../images/prev.png) left 48% no-repeat;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.lb-nav a.lb-next {
    width: 64%;
    right: 0;
    float: right;
    background: url(../images/next.png) right 48% no-repeat;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.lb-dataContainer {
    margin: 0 auto;
    padding-top: 5px;
    *zoom: 1;
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
    content: "";
    display: table;
    clear: both;
}

.lb-data {
    padding: 0 4px;
    color: #ccc;
}

.lb-data .lb-details {
    width: 85%;
    float: left;
    text-align: left;
    line-height: 1.1em;
}

.lb-data .lb-caption {
    font-size: 13px;
    font-weight: bold;
    line-height: 1em;
}

.lb-data .lb-caption a {
    color: #4ae;
}

.lb-data .lb-number {
    display: block;
    clear: left;
    padding-bottom: 1em;
    font-size: 12px;
    color: #999999;
}

.lb-data .lb-close {
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    background: url(../images/close.png) top right no-repeat;
    text-align: right;
    outline: none;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

/**************************************************************************/

/* Стилі інформації про пост */
.blog-item dl {
    margin: 0; /* Забираємо відступи, щоб кнопка "Докладніше" не спливала під низ */
}

.createdby,
.published,
.hits,
.blog-item .readmore a {
    color: #666;
}

.createdby,
.published,
.hits {
    float: left;
}
.createdby {
    margin-left: 0;
}

.published, .hits {
    margin-left: 13px;
}

.blog-item .readmore {
    margin-top: 0;
    margin-left: .7rem;
    display: inline-block;
}

.blog-item .readmore a {
    padding-right: 0.3rem;
}

.blog-item .readmore a:hover,
.blog-item .readmore a:active,
.blog-item .readmore a:focus {
    color: #747474;
    border: 1px solid #dadada;
    background-color: #ededed;
    text-decoration: none;
}

/* Стилі інформації про пост у повному варіанті матеріалу */
.content-info-full {
    width: 100%;
    display: inline-block;
    margin-top: 1rem;
}

.content-info-full dd {
    margin-bottom: 0;
}

/* Стилі посторінкової навігації */
.pagination {
    margin: 20px 0 10px 0;
}

.pagination li a {
    color: #666;
}

.page-item.active .page-link, .page-item.disabled .page-link {
    background-color: #f5f5f5;
    color: #999;
}

.page-item.active .page-link {
    border-color: inherit;
}

.page-item.disabled .page-link {
    border: 1px solid #dee2e6;
}

.pagination a:hover {
    color: #00a3f4;
}

.pagination a:focus {
    box-shadow: none;
}

/* Стилі підвалу сайту */
.footer {
    background-color: var(--color-primary);
    border-top: 2px solid var(--color-link);
    color: #fff;
    line-height: 35px; /* Вирівнює по вертикалі завдяки міжрядковому інтервалу */
    min-height: 50px;
    padding-bottom: .8em;
}

.developed {
    padding-left: 10px;
    float: left;
}

.developed a {
    text-decoration: none;
    color: #f5f5f5;
}

.developed a:hover {
    text-decoration: underline;
    color: #ccc;
}

.disclaimers {
    line-height: 5px;
}

/* Стилі кнопки "Вгору" */
#go-top {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 24px; /* Розмір стрілки всередині */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
    color: white;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s ease-in-out, visibility 0.6s ease-in-out;
}

#go-top.show {
    opacity: 0.8; /* Прозорість кнопки при відображенні */
    visibility: visible;
}
/********************************************************************************/

/* Responsive style */

/* Стилі кнопки відображення мобільного меню */

/* Робимо кнопку мобільного меню іншим кольором */
.navbar-toggler {
    background-color: #575757;
    color: #fff;
}

.navbar-toggler:hover {
    background-color: var(--color-accent);
}

/* Забираємо чорну рамку після натискання на кнопку */
.navbar-toggler:focus {
    outline: 0;
    box-shadow: none !important;
}


/* Загальні стилі для екранів від 992px */
@media (min-width: 992px) {
    /* Стилі горизонтального меню */
    .top-menu .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }

    /* Вирівнюємо весь вміст по центру */
    .top-menu {
        text-align: center;
    }

    /* Робимо елемент блоковим для вирівнювання меню по центру */
    .align-menu {
        display: inline-block;
    }

    .navbar {
        max-height: 41px;
        padding: 0;
    }

    .top-menu ul li a {
        display: block;
        height: 42px;
        padding: 8px;
    }

    .top-menu ul li a:hover {
        background-color: #e5e5e5;
        border-bottom: 2px solid var(--color-accent);
        color: #0a0a0a;
        text-decoration: none;
    }

    /* Забираємо заднє тло на фокусованому посиланні в меню, додаючи лінію внизу і змінюємо колір */
    .top-menu ul li a:focus {
        background-color: transparent;
        color: white;
    }

    .top-menu ul li.current a {
        border-bottom: 2px solid var(--color-link);
        cursor: default;
        font-weight: bold;
    }

    /* Відступи біля постів */
    .row .con {
        padding-right: calc(var(--bs-gutter-x) * .2);
        padding-left: calc(var(--bs-gutter-x) * .01);
    }
}

/* Стилі будуть застосовані на телефонах та планшетах */
@media (max-width: 991.98px) {
    /* Стилі назви сайту у мобільній версії */
    .navbar .navbar-brand {
        color: white;
        font-weight: bold;
        padding-left: 0;
    }

    .navbar .navbar-brand:hover {
        text-decoration: none;
    }

    .navbar .navbar-brand .smal-logo-text {
        margin-top: 2rem;
    }

    .navbar-collapse {
        margin-top: .5rem;
    }

    .navbar-nav li {
        line-height: 1.7;
    }

    .navbar-nav li a:focus {
        background-color: #fff;
        color: #000;
    }
    /* Ширина лівої та правої частин у мобільній версії */
    .col-3, .col-9 {
        width: 100%;
        padding-right: calc(var(--bs-gutter-x) * .1);
        padding-left: calc(var(--bs-gutter-x) * .1);
    }

    /* У місці виведення реклами, прибираємо рамку для кращого візуального сприйняття */
    .googlea .custom {
        border: transparent;
    }

    /* Вирівнювання кнопки "Докладніше" у мобільній версії */
    .blog-item .readmore {
        margin-left: .1rem;
    }
}
