@charset "utf-8";
/*Общие стили бля html*/
body {
	background: #efefef url('../images/fon.jpg');
	font: 13px Verdana;
	color: #000;
}

h1, h2, h3, h4, h5, h6 { margin: 0; }

p { margin: 0; }

a {
	text-decoration: none;
	color: #0a0a0a;
}

a:hover {
	text-decoration: underline;
	color: #0a0a0a;
}

abbr:hover { cursor: help; }

img { border: 0; }

.container-fluid { padding: 0; }

/*Выравнивание и боковые линии шапки сайта и футера*/
.row-fluid .hidden-phone .logo, .container-fluid .row-fluid .powered {
	float: none;
	margin: 0 auto;
	width: 75.1%;
	border-left: 1px solid Gray;
	border-right: 1px solid Gray;
}

/*Размер картинки шапки сайта*/
#logo {
	width: 100%;
	height: 100%;
}

/*Стили части меню и контента*/
.container-fluid .con {
	width: 75%;
	float: none;
	margin: 0 auto;
}

.container-fluid .con, .container-fluid .mobicontent{
	border-left: 1px solid Gray;
	border-right: 1px solid Gray;
	background-color: #f9f9f9;
}

.container-fluid .con .content { width: 100%; }

/*Меню сайта*/
.con .content .span2 {
	width: 22%;
	min-width: 119px; /*Стиль отвечающий за минимальную ширну при сужении окна*/
	margin-top: 1%;
	padding: 0 7px 15px;
}

/*Вывод заголовка модулей слева*/
div.moduletable_menu h3, .moduletable h3, .moduletable_contacts h3 {
	text-align: center;
	background-color: #434343;
	color: #fff;
	font-size: 15px;
	font-weight:  700;
}

.menu {
	list-style-type: none;
	color: #0a0a0a;
	border-top: 1px dotted #ccc;
	border-bottom: none;
}

.menu li a {
	border-bottom: 1px dotted #ccc;
	display: block;
	padding: 6px;
	width: auto;
}

.menu li a:hover {
	text-decoration: none;
	font-weight: bold;
	background-color: #ededed;
	color: #2a68d2;
} 

.menu li.current a {
	font-weight: bold;
	color: #2a68d2;
	cursor: default;
}

/*Стили для модулей контактов и объявлений*/
div.moduletable, div.moduletable_contacts { margin-top: 20px; }

div.moduletable p, .custom_contacts {
	margin-top: 10px;
	padding: 7px;
	border: 1px dotted #ccc;
	font-size: 1em;
	line-height: 1.5;
}

/*Спрайт контактов, данных контента и кнопки вверх*/
.contacts-icq, .contacts-skype {
	width: 18px;
	height: 18px;
    display: block;
	float: left;
}

.contacts-icq {
	background: url('../images/spritesheet.png') no-repeat -5px -31px;
}

.contacts-skype {
	background: url('../images/spritesheet.png') no-repeat -31px -31px;
}

.contacts-telegram {
	background: url('../images/spritesheet.png') no-repeat -59px -5px;
}

.contacts-pos {
	margin-left: 5px;
}

/*Контент*/
.con .content .span8 {
	margin-left: 1%;
	width: 77%;
	padding-right: 8px;
}

div.cols-1 {
	margin-top: 1%;
	padding-bottom: 5px;
}

div.column-1 {
	border: 1px #ccc solid;
	padding: 5px 10px 2px;
}

div.column-1, .content-full { line-height: 1.5; }

/*Размер шрифта для заголовка страници*/
.page-header {
	padding-top: 15px;
	border: none;
}

.page-header h1 { font-size: 1.2em; }

.item-title, .item-title-full { font: bold 14px Verdana; }

.item-title {
	margin-left: 10px;
	margin-right: 10px;
	padding: 2px 0 2px;
	vertical-align: top;
}

.blog .empty {
    margin-top: 1em;
    text-align: center;
    font: bold 18px Verdana;
    text-shadow: 1px 1px 1px silver, -1px 1px 1px silver;
}

/*Стили вывода статей*/
div.column-1 ol, .content-full ol { margin-left: 7%; margin-top: 5px; }

div.column-1 ul, .content-full ul { margin-left: 6%; }

div.column-1 blockquote, .content-full blockquote {
	margin: 5px 30px;
    padding: 7px;
	word-wrap: break-word; /*Фикс для принудительного переноса строки в цитатах если не помещается*/
    background-color: #f6f6f6;
    border: 1px #ccc solid;
}

div.column-1 p, .content-full p, pre { margin-top: 10px; }

div.column-1 blockquote p, .content-full blockquote p { font: 13px Verdana; line-height: 1.5; }

/*Стили для вывода цветного кода в контенте*/
code[class*="language-"], pre[class*="language-"] {
	color: black;
	background: none;
	text-shadow: 0 1px white;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-align: left;
	white-space: pre-wrap;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection, pre[class*="language-"]::selection,
pre[class*="language-"] ::selection, code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"], pre[class*="language-"] { background: #f5f2f0; }

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment, .token.prolog, .token.doctype, .token.cdata { color: slategray; }

.token.punctuation { color: #999; }

.namespace { opacity: .7; }

.token.property, .token.tag, .token.boolean, .token.number, .token.constant, .token.symbol, .token.deleted {
	color: #905;
}

.token.selector, .token.attr-name, .token.string, .token.char, .token.builtin, .token.inserted {
	color: #690;
}

.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string {
	color: #a67f59;
	background: hsla(0, 0%, 100%, .5);
}

.token.atrule, .token.attr-value, .token.keyword { color: #07a; }

.token.function { color: #dd4a68; }

.token.regex, .token.important, .token.variable { color: #e90; }

.token.important, .token.bold { font-weight: bold; }

.token.italic { font-style: italic; }

.token.entity { cursor: help; }

.prism-previewer, .prism-previewer:before, .prism-previewer:after {
	position: absolute;
	pointer-events: none;
}

.prism-previewer, .prism-previewer:after { left: 50%; }

.prism-previewer {
	margin-top: -48px;
	width: 32px;
	height: 32px;
	margin-left: -16px;
	opacity: 0;
	-webkit-transition: opacity .25s;
	-o-transition: opacity .25s;
	transition: opacity .25s;
}

.prism-previewer.flipped {
	margin-top: 0;
	margin-bottom: -48px;
}

.prism-previewer:before, .prism-previewer:after {
	content: '';
	position: absolute;
	pointer-events: none;
}

.prism-previewer:before {
	top: -5px;
	right: -5px;
	left: -5px;
	bottom: -5px;
	border-radius: 10px;
	border: 5px solid #fff;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5) inset, 0 0 10px rgba(0, 0, 0, 0.75);
}

.prism-previewer:after {
	top: 100%;
	width: 0;
	height: 0;
	margin: 5px 0 0 -7px;
	border: 7px solid transparent;
	border-color: rgba(255, 0, 0, 0);
	border-top-color: #fff;
}

.prism-previewer.flipped:after {
	top: auto;
	bottom: 100%;
	margin-top: 0;
	margin-bottom: 5px;
	border-top-color: rgba(255, 0, 0, 0);
	border-bottom-color: #fff;
}

.prism-previewer.active { opacity: 1; }

.prism-previewer-color {
	background-image: linear-gradient(45deg, #bbb 25%, transparent 25%, transparent 75%, #bbb 75%, #bbb), linear-gradient(45deg, #bbb 25%, #eee 25%, #eee 75%, #bbb 75%, #bbb);
	background-size: 10px 10px;
	background-position: 0 0, 5px 5px;
}

.prism-previewer-color:before {
	background-color: inherit;
	background-clip: padding-box;
}

div.column-1 p img, .content-full p img { margin: 5px 10px; }

div.column-1 p a, div.column-1 blockquote a, div.column-1 ol a, div.column-1 ul a, .content-full p a,
.content-full blockquote a, .content-full ol a, .content-full ul a {
	color: #2a68d2;
	text-decoration: none;
	background-image: none;
	padding-right: 0;
}

div.column-1 p a:hover, div.column-1 blockquote a:hover, div.column-1 ol a:hover, .content-full ul a:hover,
.content-full p a:hover, .content-full blockquote a:hover, .content-full ol a:hover, .content-full ul a:hover {
	color: #2a68d2;
	text-decoration: underline;
}

div.column-1 p a[href^="http://"], div.column-1 blockquote a[href^="http://"], div.column-1 ol a[href^="http://"],
div.column-1 ul a[href^="http://"], div.column-1 p a[href^="https://"], div.column-1 blockquote a[href^="https://"],
div.column-1 ol a[href^="https://"], div.column-1 ul a[href^="https://"], .content-full p a[href^="http://"],
.content-full blockquote a[href^="http://"], .content-full ol a[href^="http://"], .content-full ul a[href^="http://"],
.content-full p a[href^="https://"], .content-full blockquote a[href^="https://"], .content-full ol a[href^="https://"],
.content-full ul a[href^="https://"] {
	background: url('../images/external.png') no-repeat right top;
	padding-right: 12px;
}

/*Стили для lightbox*/
/* Preload images */
body:after {
	content: url('../images/close.png') url('../images/loading.gif') url('../images/prev.png') url('../images/next.png');
	display: none;
}

.lightboxOverlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	background-color: black;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	opacity: 0.8;
	display: none;
}

.lightbox {
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 10000;
	text-align: center;
	line-height: 0;
	font-weight: normal;
}

.lightbox .lb-image {
	display: block;
	height: auto;
	max-width: inherit;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

.lightbox a img { border: none; }

.lb-outerContainer {
	position: relative;
	background-color: white;
	*zoom: 1;
	width: 250px;
	height: 250px;
	margin: 0 auto;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}

.lb-outerContainer:after {
	content: "";
	display: table;
	clear: both;
}

.lb-container { padding: 4px; }

.lb-loader {
	position: absolute;
	top: 43%;
	left: 0;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
}

.lb-cancel {
	display: block;
	width: 32px;
	height: 32px;
	margin: 0 auto;
	background: url('../images/loading.gif') no-repeat;
}

.lb-nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}

.lb-container > .nav { left: 0; }

.lb-nav a {
	outline: none;
	background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
	height: 100%;
	cursor: pointer;
	display: block;
}

.lb-nav a.lb-prev {
	width: 34%;
	left: 0;
	float: left;
	background: url('../images/prev.png') left 48% no-repeat;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	-webkit-transition: opacity 0.6s;
	-moz-transition: opacity 0.6s;
	-o-transition: opacity 0.6s;
	transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover, .lb-nav a.lb-next:hover, .lb-data .lb-close:hover {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}

.lb-nav a.lb-next {
	width: 64%;
	right: 0;
	float: right;
	background: url('../images/next.png') right 48% no-repeat;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	-webkit-transition: opacity 0.6s;
	-moz-transition: opacity 0.6s;
	-o-transition: opacity 0.6s;
	transition: opacity 0.6s;
}

.lb-dataContainer {
	margin: 0 auto;
	padding-top: 5px;
	*zoom: 1;
	width: 100%;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
	content: "";
	display: table;
	clear: both;
}

.lb-data {
	padding: 0 4px;
	color: #ccc;
}

.lb-data .lb-details {
	width: 85%;
	float: left;
	text-align: left;
	line-height: 1.1em;
}

.lb-data .lb-caption {
	font-size: 13px;
	font-weight: bold;
	line-height: 1em;
}

.lb-data .lb-number {
	display: block;
	clear: left;
	padding-bottom: 1em;
	font-size: 12px;
	color: #999999;
}

.lb-data .lb-close {
	display: block;
	float: right;
	width: 30px;
	height: 30px;
	background: url('../images/close.png') top right no-repeat;
	text-align: right;
	outline: none;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	opacity: 0.7;
	-webkit-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.lb-data .lb-close:hover { cursor: pointer; }

/*Стили вывода информации о авторе и даты*/
div.column-1 dl {
	margin: 10px 0 0;
	display: inline-block; /*Стиль отвечающий за то что-бы автор, дата и тд не выпадали за рамку контента*/
}

.hidden-phone .content-info-full .createdby, .hidden-phone .content-info-full .published { margin-bottom: 1%; }

.createdby {
	margin-left: 0;
	float: left;
}

.published {
	margin-left: 13px;
	float: left;
}

.createdby-ico, .published-ico, .up {
	display: inline-block; /* inline-block вместо block для того что-бы картинка и надпись были в одну строку*/
	width: 16px;
	height: 16px;
}

.createdby-ico {
	margin-left: 0;
	background: url('../images/spritesheet.png') no-repeat -31px -5px;
}

.published-ico {
	margin-right: 1px;
	background: url('../images/spritesheet.png') no-repeat -5px -5px;
}

.createdby, .published, a.readmore {
	color: #666;
	font-size: 90%;
}

a.readmore {
	margin-left: 0.7em;
	padding: 1px 5px 0 14px;
	background: url('../images/arrow.png') no-repeat 5px 48%;
	font-weight: normal;
	text-decoration: none;
	border: solid 1px transparent;
}

a.readmore:hover, a.readmore:active, a.readmore:focus {
	color: #747474;
	border: 1px solid #dadada;
	background-color: #ededed;
	text-decoration: none;
}

/*Отключение тображения надписи "Подробности" тега <dt> для соблюдения валидации*/
.article-info-term { display: none; }

/*Начало стилей постраничной навигации*/
.pagination { text-align: center; }

/*Начало стилей футера*/
.powered {
	height: 50px; /*Задает высоту блока*/
	background-color: #434343;
	color: #fff;
	line-height: 45px; /*Выравнивает по вертикали благодаря междустрочному интервалу*/
	border-top: 2px solid #0080c0;
	white-space: nowrap;
}

.powered .span2 { width: 30%; }

.powered .span8 {
	width: 60%;
	float: right;
}

.developed {
	font-size: 11px;
	padding-left: 10px;
	float: left;
}

.developed a {
	text-decoration: none;
	color: #f5f5f5;
}

.developed a:hover {
	text-decoration: underline;
	color: #ccc;
}

.counter {
	text-align: right;
	padding-right: 10px;
}

.counter a:hover { text-decoration: none; }

.counter img { opacity: 0.3; }

.counter a:hover img { opacity: 0.9; }

/*Стили кнопки Вверх*/
#go-top {
	position: fixed;
	line-height: 42px; /*регулирует отступ от верхнего края*/
	text-align: center;
	bottom: 25px; /*Отступ от нижней части окна браузера*/
	right: 11px; /*Отступ от правой части окна браузера*/
	cursor: pointer;
	display: none;
	width: 34px;
	height: 35px;
	background-color: #f9f9f9;
	border: solid 1px #ccc;
	border-radius: 40px;
}

.up { background: url('../images/spritesheet.png') no-repeat -59px -33px; }
